.table {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #61dafb;
}

.headers {
  width: 100;
}
.totalChecked {
  display: flex;
  justify-content: space-between;
  align-self: left;
  margin-left: 60%;
}

.bankform {
  align-self: left;
}
